html:not(.admin-area) {
  .sidebar-wrapper {
    display: none;
  }

  body.has-sidebar-page #main-outlet-wrapper {
    grid-template-columns: 0 1fr;
  }

  .d-header {
    display: none;
  }

  .alert-emails-disabled {
    display: none;
  }
}
