html:not(.admin-area) .sidebar-wrapper {
  display: none;
}

html:not(.admin-area) body.has-sidebar-page #main-outlet-wrapper {
  grid-template-columns: 0 1fr;
}

html:not(.admin-area) .d-header {
  display: none;
}
