:root:not(.admin-area) {
  --d-sidebar-width: 0;
}

html:not(.admin-area) {

  .alert-emails-disabled,
  .d-header,
  .sidebar-wrapper {
    display: none;
  }

}

body:not(.is-admin) {

  footer,
  .bulk-select,
  .list-controls,
  .more-topics__container {
    display: none;
  }

}
